@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
}


nav{
    z-index: 100;
    display: flex !important;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color:black;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

body{
    overflow-x: hidden;
}

.logo {
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
}

.nav_link {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 12px;
}

.nav_link a {
    color:white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

.nav_link li {
    list-style:none;
}
.font-icon{
    justify-content: space-between;
}

.font-icon div {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
}

.font-icon div a{
    text-decoration: none;
}

.font-icon div:hover{
    background-color: #e91e63;
}

.font-icon div a i{
    color:white;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav_link {
        position: absolute;
        margin-top: 0px;
        right: 0px;
        height: 90vh;
        top:7vh;
        background-color: rgba(225, 225, 225, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav_link li{
        opacity: 0;
    }
    .burger {
        display: block;

    }
}

.active {
    transform: translatex(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(45deg) translatey(11px) ;
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(-45deg) translatey(-11px) ;
}

/*footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



